button{
    cursor: pointer;
}


.signup {
    width: fit-content;
    padding: 15px 10px;
    margin: auto;
}

.login {
    width: fit-content;
    padding: 50px 10px;
    margin: auto;
}

.logo-image{
    width: 170px;
}

.card {
    background-color: #272727;
    box-shadow: 0 0 10px #CCC;
    border-radius: 5px;
    margin: 30px 0;
}

.card-header {
    display: flex;
    border-bottom: 1px solid #CCC;
    justify-content: center;
}

.account-info-container{
    display: flex;
    flex-direction: column;
}

.account-header-info-content{
    display: inline-flex;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
}

.account-header-info-data{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: var(--secondColor);
    font-weight: 700;
    gap: 20px;
}

.formUser{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 25px;
    width: 350px;
}

.formSearch{
    width: 100%;
    display: grid;
    justify-content: space-evenly;
}

.formLabel{
    font-family: var(--font-default);
    color: var(--textMainColor);
}

.inputStyle{
    background-color: var(--inputBackground);
    border: 5px solid var(--inputBorder);
    border-radius: 5px !important;
    transition: ease-in-out 0.3s;
    color: var(--textMainColor) !important;
}

.inputStyle:hover, .selectStyle:hover{
    border: 5px solid var(--inputBorderhover);
}

.inputStyle::placeholder{
    font-family: var(--font-default);
}

.inputForm-control{
    background-color: var(--inputBackground);
    border: 5px solid var(--inputBorder);
    border-radius: 5px !important;
    transition: ease-in-out 0.3s;
    color: var(--textMainColor) !important;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
    padding: 8px;
}

.inputForm-control:hover{
    border: 5px solid var(--inputBorderhover);
}

.inputForm-control::placeholder{
    font-family: var(--font-default);
}

.selectForm-control{
    background-color: var(--inputBackground);
    border: 5px solid var(--inputBorder);
    border-radius: 5px !important;
    transition: ease-in-out 0.3s;
    color: var(--textMainColor) !important;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
    padding: 8px;
}

.selectForm-control:hover{
    border: 5px solid var(--inputBorderhover);
}

.form-control, .btn {
    border-radius: 5px;
}

.form-control[readonly] {
    background-color: #f1f1f1;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search-group{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputStyleGroup{
    flex-grow: 1;
    background-color: var(--inputBackground);
    border: 5px solid var(--inputBorder);
    border-radius: 5px 0px 0px 5px;
    transition: ease-in-out 0.3s;
    color: var(--textMainColor);
}

.inputStyleGroup:hover, .selectStyleGroup:hover{
    border: 5px solid var(--inputBorderhover);
}

.inputStyleGroup::placeholder{
    font-family: var(--font-default);
}

.btnStyleGroup{
    background-color: var(--btnBackgroundColor);
    border: 0;
    border-radius: 0px 5px 5px 0px;
    transition: ease-in-out 0.3s;
    height: 34px;
}

.searchBtn{
    width: 30px;
}

.btnStyleGroup:hover{
    background-color: var(--btnBackgroundColorhover);
}

.select-group{
    display: inline-flex;
    gap: 25px;
}

.formBtn{
    font-family: var(--font-default);
    background-color: var(--btnBackgroundColor);
    border: 0;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.formBtn:hover{
    background-color: var(--btnBackgroundColorhover);
}

.parsley-errors-list {
    color: #F00;
    list-style: none;
    margin-left: -30px;
}

.alert {
    margin: 0;
    padding: 0 10px;
}

#erro {
    margin-top: -15px;
}

@media(max-width: 1000px){
    .account-header-info-data{
        flex-direction: column;
    }

    .account-header-info-content{
        align-self: center;
    }

    .input-group-header .inputStyleGroup{
        border-radius: 0;
        text-align: center;
    }

    .input-group-header .btnStyleGroup{
        border-radius: 0;
    }

    .input-group-header .inputStyleGroup::placeholder{
        padding-left: 20px;
        text-align: center;
    }

    .formSearch{
        display: flex;
    }

    .select-group{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }



}

@media(max-width: 768px){
    .formUser{
        width: fit-content;
        padding: 0px;
    }

    .inputForm-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(max-width: 500px){
    .formSearch{
        display: grid;
    }

    .select-group{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}