.dashboard_1,
.dashboard_2,
.dashboard_3
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.table{
    --bs-table-bg: none !important;
}


.table-responsive-scroll {
    /* Permite rolagem horizontal se o conteúdo for muito largo */
    overflow-x: auto; 
    
    /* Define uma altura máxima. Se o conteúdo for maior, ativa a rolagem vertical. */
    max-height: 500px; /* Ajuste este valor conforme a necessidade visual (ex: 50vh) */

    /* Permite rolagem vertical (se max-height for excedido) */
    overflow-y: auto; 
    
    /* Opcional: Adiciona margem inferior para separar a tabela de outros elementos
    margin-bottom: 1.5rem;  */
}

.dashboard-table thead tr {
    font-family: var(--font-default);
    background-color: var(--secondColor);
    color: var(--textSecondColor);
    text-align: left;
    font-weight: bold;
}

.dashboard-table td{
    font-family: var(--font-default);
}

.dashboard-table td a{
    text-decoration: none;
}

.dashboard-table tbody tr {
    border-bottom: 1px solid var(--tableLine);
    cursor: pointer;
    background-color: var(--secondColor);
}

.dashboard-table tbody tr:nth-of-type(even) {
    background-color: var(--tableBackground2);
}

.dashboard-table tbody tr:hover{
    background-color: var(--tableCTA);
}

.dashboard-table tbody tr:nth-of-type(even):hover {
    background-color: var(--tableCTA);
}

#opcoes{
    align-content: center;
}

@media(max-width: 768px){
    .dashboard-table{
        display: block;
    }
}